body {
    background-color: #04202c;
}

.headline {
    text-align: center;
    position: relative;
}

.headline-title {
    opacity: 0;
    font-size: 5vw;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 10px;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headline-image {
    width:100%;
}

.tinted {
    filter: brightness(50%);
}

.sub-headline {
    opacity: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
    margin: 3em;
}

.box {
    text-align: center;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: brightness(40%);
    transition: 0.4s -webkit-filter linear;
}

.box1 {
    grid-column: 1/3;
    grid-row: 1/40;
}

.box2 {
    grid-row: 1/40;
}

.box3 {
    grid-row: 40/60;
}

.box4 {
    grid-column: 2/4;
    grid-row: 40/60;
}

.menu-title {
    opacity: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 7px;
    word-wrap: break-word;
}

.acc {
    width: 10vw;
}

.sn {
    width: 21vw;
}

footer {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
